<div >
  <div class="topside-container">
    <h1 class="topside-item">YellowMarket</h1>
    <div class="dropdown ">
        <button class="dropbtn topside-item">Department</button>
        <div class="dropdown-content ">
          <a href="#">All</a>
          <a href="#">Cases</a>
          <a href="#">Motherboards</a>
        </div>
    </div>
    <input class="topside-item inputbar"/>
    <button class="topside-item searchbar">Search</button>
  </div>
  <div class="bottomside-container">
    <p>Buy again</p>
    <p>History</p>
    <p>Today's Deals</p>
    
  </div>
</div>
