<div >
  <div class="topside-container">
    <h1 class="topside-item">YellowMarket</h1>
    <div class="dropdown ">
      <button class="dropbtn topside-item">{{currentDepartment}}</button>
      <div class="dropdown-content ">
        <a href="#" (click)="onDepartmentSelect('All ▼')">All</a>
        <a href="#" (click)="onDepartmentSelect('Cases ▼')">Cases</a>
        <a href="#" (click)="onDepartmentSelect('Motherboards ▼')">Motherboards</a>
      </div>
    </div>
    <input class="inputbar"/>
    <img class="searchicon" src="../../assets/searchicon.png"/>
  </div>
  <div class="bottomside-container">
    <p>Buy again</p>
    <p>History</p>
    <p>Today's Deals</p>
  </div>
</div>
